.slider {
  width: 100%;
  overflow: hidden;
}

.slider--move {
  top: 0;
  right: 0;
  display: flex;
  position: relative;
}

.slider--item {
  width: 100%;
  padding: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
}

@keyframes slideh {
  0% {
    right: 0;
  }
  30% {
    right: 0;
  }
  33% {
    right: 100%;
  }
  63% {
    right: 100%;
  }
  66% {
    right: 200%;
  }
  97% {
    right: 200%;
  }
  100% {
    right: 0;
  }
}

.slider--move {
  animation: slideh linear 15s infinite;
}

.slider--move :hover {
  animation-play-state: paused;
}
